body{
  background-color: white;
  font: american typewriter;
  margin: 0;
}

#main-body {
  width: 100%;
  margin: auto;
}

.topbar {
  height: 100px;
  background-color: white;
  border: solid;
  width:85%;
  height:70px;
  margin: 5px 7%;
}
#content {
  background-image: url("AHHHH.png");
  min-height: 800px;
  width: auto;
  margin: 0;
}
  p {
    font-size: 25px;
  }
.intro{
  border: 2px solid;
}
  a:hover{
    color: white;
    background-color: black;
  }
  ul{
    border: 2px  blue;
    display: inline-block;
  }
  .other-links{
    border: 2px solid green;
    width: 400px;
    height: 18px;
  }
  h1.AHHH{
    width: 500px;
    height: 50px;
    display: inline-block;
    margin: 10px;
  }
  h1#content{
    margin: 50;
    border: 1px solid;
  }
  a{
    border: 2px solid;
    border-radius: 5px;
    margin: 50px 20px;
    padding: 10px 15px;
    color: black;
  }
.Us{
  margin-left: 300px;
}
#title{
  margin-left: 270px;
}
#diviv{
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 900px;
}
.color{
  color: grey;
}
h1#title{
  font-size: 60px;
}
#DWD{
  position: absolute;
  top: 200px;
  left: 30px;
  font-size: 70px;
}
#MP{
  position: absolute;
  top: 325px;
  left: 50px;
}
#RCG{
  position: absolute;
  top: 350px;
  left: 30px;
  font-size: 70px;
}
#LHTC{
  position: absolute;
  top: 150px;
  left: 700px;
  font-size: 73px;
}
#FJ{
  position: absolute;
  top: 530px;
  left: 580px;
  font-size: 73px;
  font-size: 25px;
}
#GS{
  position: absolute;
  top: 300px;
  left: 1000px;
  font-size: 73px;
}
#HJ{
  position: absolute;
  top: 650px;
  left: 250px;
  font-size: 120px;
}
#ten{
  font-size: 100px;

}
*{

}
