<style media="screen">
  p {
    font-size: 15px;
  }
  .Imomamadada{
    font-stretch: condensed;
    font-kerning: auto;
  }
  *:img{
    height: 100px;
    width: 400px;
  }
  .intro{
    font-variant: inherit;
    font-weight: normal;
    display: inline-block;
    font-family: american typewriter;

}
  .intro{
    width: 50px;
    height: 20px;
  }
  a{
    color: red
  }
  a:hover{
    color: blue
  }
  ul{
    display: inline;
  }
  .other-links{
    display: inline;
  }
  *{
    background-image: url("AHHHH.png");
    background-color: #cccccc;
  }
</style>
