<style media="screen">
  p {
    font-size: 15px;
  }
  .Imomamadada{
    font-stretch: condensed;
    font-kerning: auto;
  }

  .intro{
    font-variant: inherit;
    font-weight: normal;
    display: inline block;
    font-family: american typewriter;
    background-color: yello;

}
  .intro{
    width: 100px;
    height: 500px;
  }
  a{
    color: red
  }
  a:hover{
    color: blue
  }
  ul{
    display: inline block;
  }
  .other-links{
    display: inline block;
  }
  *{
    background-image: url("AHHHH.png");
    background-color: #cccccc;
  }
</style>
